:root {
    --main-color : #cbbdb8;
}
*{
    box-sizing: border-box;
}
html,#root,body {
    height: 100%;
}
ul {
    margin: 0;
    padding-left: 0;
}
li {
    list-style: none;
}
p {
    margin: 0;
}
.wrap {
    position: relative;
    height: 100%;
    padding-bottom: 67px;
}
.menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 100;
}
.menu ul {
    display: flex;
    
}
.menu ul li {
    flex-grow: 1;
}
.menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 20px 20px;
    background-color: #cbbdb8;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
} 
.menu .active {
    background-color: #ee9a82;
}
.menu ul li:first-child .active {
    background-color: #94c9ff;
}
.content {
    max-width: 900px;
    height: 100%;
    margin: 0 auto;
    padding: 35px 20px 30px;
    overflow-y: auto;
}
.content.weather_area {
    max-width: 620px;
}
.main_title {
    color: #303030;
    text-align: center;
    font-size: 47px;
}
.game_area .main_title {
    color: #cbbdb8;
}
.game {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
}
.game_box {
    position: relative;
    overflow: hidden;
    border: 1px solid #eee;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.game_box.left {
    box-shadow: -4px 4px 10px rgba(0,0,0,0.2);
}
.game_box:first-child {
    margin-right: 20px;
}
.game_box .title {
    position: relative;
    margin: 0;
    padding: 18px 0;
    background-color: var(--main-color);
    color: #fff;
    font-size: 32px;
    z-index: 10;
}
.game_box.winner .title {
 background-color: #ee9a82;
}
.game_box .img {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
}
.game_box .img img {
    width: 100%;
}
.game_box.left .img {
    transform-origin: left center;
}
.game_box.left img {
    margin-left: -7px;
    transform: rotate(90deg) scaleX(-1);
}
.game_box.right .img {
    transform-origin: right center;
}
.game_box.right img {
    margin-right: -7px;
    transform: rotate(-90deg);
}
.game_box.winner .img {
    transition: 0.5s;
    transform: rotate(0deg);
    animation: winnerAction 0.5s ease-in-out 3;
}
.game_box.loser .img {
    transition: 0.5s;
}
.game_box.loser img {
    filter:grayscale(80%)
}
.result {
    position: absolute;
    left: 50%;
    top: 59%;
    transform: translate(-50%,-50%);
    z-index: 20;
    color: #fff;
    font-size: 27px;
}
.loser .result p,
.winner .result p,
.tie .result p {
    padding: 2px 10px 5px;
    background-color: rgba(0,0,0,0.25);
}

.control {
    margin-top: 50px;
    text-align: center;
}
.control button {
    margin: 0 5px;
    min-width: 55px;
    height: 40px;
    border: 0;
    border-radius: 5px;
    background-color: #baaba6;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 2px #9e9e9e4f;
}
.copyright {
    position: absolute;
    right: 16%;
    bottom: -6%;
    font-size: 12px;
    color: rgba(203,189,184,0.7);
}
.weather_area .control {
    margin-top: 40px;
}
.weather_area .control button{
 margin-top: 10px;
}
.weather {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.weather .img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: #94c9ff;
    text-align: center;
}
.weather .txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 108px;
    padding: 20px 15px;
    color: #303030;
}
.weather .info {
    padding-right: 15px;
}
.weather .city {
    font-size: 30px;
}
.weather .description {
    margin-top: 3px;
    color: #ccc;
    font-size: 16px;
    font-weight: bold;
}
.weather .temp {
    position: relative;
    color: #6b6b6b;
    font-size: 30px;
    font-weight: bold;
}
.weather .temp::after {
    content: ' °';
}
.weather .fahrenheit {
    position: relative;
    margin-top: 3px;
    padding: 2px 10px;
    background-color: #d4d4d4;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.weather .fahrenheit::after {
    content: ' °F';
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid #FFF;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    background: #488eff;
    width: 16px;
    height: 16px;
    transform: translate(-50%, 50%);
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .main_title {
        font-size: 35px;
    }
    .game_box:first-child {
        margin-right: 10px;
    }
    .game_box .title {
        padding: 12px 0;
        font-size: 22px;
    }
    .game_box .img {
        width: 100%;
        height: auto;
    }
    .result { 
        font-size: 18px;
    }
    .control button {
        height: 37px;
    }
    .copyright {
        right: 2px;
        bottom: -22px;
    }
    .weather_area .control {
        margin-top: 20px;
    }
}

@keyframes winnerAction {
    0%,
    100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(5deg);
    }
}

@keyframes loserAction {
    form {
        transform: rotate(1deg) scale(0.99);
    }
    to {
        transform: rotate(-1deg) scale(1.01);
    }
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 